@import "tailwindcss";

:root {
  --primary: #6739b7;
  --primary-70: #9574cd;
  --primary-50: #6739b780;
  --primary-20: #e1d7f1;
  --secondary: #f8f8f8;
  --background: #ffffff;
  --foreground: #111111;
  --black-80: #414141;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary70: var(--primary-70);
  --color-primary50: var(--primary-50);
  --color-primary20: var(--primary-20);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black80: var(--black-80);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #6739b7;
    --primary-70: #9574cd;
    --primary-50: #6739b780;
    --primary-20: #e1d7f1;
    --secondary: #f8f8f8;
    --background: #ffffff;
    --foreground: #111111;
    --black-80: #414141;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "HvDTrial Graphit", sans-serif;
}
